.login-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(255,234,206);
  background: linear-gradient(180deg, rgba(255,234,206,1) 0%, rgba(152,111,73,1) 28%, rgba(247,148,29,1) 100%);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 300px;
  border: 1px solid var(--white-color);
}

input {
  background-color: var(--white-color);
  color: black;
  border: 0px;
  margin: 10px 0px;
  padding: 15px;
}

.button-disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.button-enabled {
  background-color: var(--accent-color);
  cursor: pointer;
}