.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--accent-color);
  align-items: center;
}

.main-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.image-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.image-user-container > p {
  font-weight: bold;
  font-size: 18px;
}

.company-title {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.header-search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}

.header-input{
  background-color: #FFFFFF;
  color: black;
  border: 0px;
  padding: 10px;
  width: 20vw;
}

.icon {
  cursor: pointer;
}

.search-icon{
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 0px 10px 10px 0px;
}

.profile-icon {
  width: 25px;
  height: 25px;
}
.cart-icon {
  width: 30px;
  height: 30px;
}

.cart-badge{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.cart-badge-count{
  font-size: 10px;
  margin: 0;
}

.header-right-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}