.item-quantity-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
}

.item-quantity-text{
  margin: 0;
}

.button {
  border: 0px;
  padding-block: 5px;
  display: flex;
  justify-items: center;
}

.button-minus {
  background-color: red;
}

.button-add{
  background-color: var(--accent-color);
}