.main-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  width: 7vw;
  max-height: 100vh ;
}

.subtotal-header {
  margin-bottom: 0;
  color: var(--accent-color);
  font-weight: bold;
}

.subtotal-price {
  color: var(--primary-color)
}

.go-to-checkout-button {
  width: 80%;
  font-size: 12px;
  padding: 5px 0px;
}

.main-cart-products-container {
  overflow-y: auto;
}