:root {
  --primary-color: #F7941D;
  --secondary-color: #986F49;
  --light-primary-color: #FFEACE;
  --disabled-color: #706d6b;
  --accent-color: #005247;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
